<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
    
    <%- include('../partials/form.ejs') %>
    <% if(errors.message) { %>
        <p><%= errors.message %></p>
    <% } %>

    <% if( info ) {%>
        <p><%= info.message %></p>
    <% } %>
    <a href="<%= redirect %>">Register</a>
</body>
</html>