<h2><%= titleSection.title %></h2>

<form action="<%= route %>" method="<%= method %>">

    <% inputs.forEach(( input ) => { %>
        <div>
            <label for="<%= input.name %>"><%= input.label %></label>
            <br>
            <input 
                type= "<%= input.type %>" 
                name= "<%= input.name %>" 
                value="<%= oldData ? oldData[ input.name ] : '' %>">
        </div>
    <% }) %>

    <% if( label.info ) {%>
        <label for="submitType"><%= label.info %></label>
    <% } %>

    <button type="submit" name="submitType" value="<%= submitType %>" > <%= submit %> </button>

    <% if( button.resend ) { %>
        <button type="submit" name="submitType" value="Resend"><%= button.resend %></button>
    <% } %>
    
    <a href="/auth/google"><%= link %></a>
</form>

<% if( forgotPassword.text ) { %>
    <a href="<%= forgotPassword.link %>" target="_blank" ><%= forgotPassword.text %></a>
<% } %>